In [4]:
import pandas as pd
import numpy as np

In [5]:
# File to Load 
runner_2015 = "Resources/marathon_results_2015.csv"
runner_2016 = "Resources/marathon_results_2016.csv"
runner_2017 = "Resources/marathon_results_2017.csv"

In [13]:
# File to Read
runner_2015_table = pd.read_csv(runner_2015)
runner_2016_table = pd.read_csv(runner_2016)
runner_2017_table = pd.read_csv(runner_2017)

In [14]:
runner_2015_table.columns

Index(['Unnamed: 0', 'Bib', 'Name', 'Age', 'M/F', 'City', 'State', 'Country',
       'Citizen', 'Unnamed: 9', '5K', '10K', '15K', '20K', 'Half', '25K',
       '30K', '35K', '40K', 'Pace', 'Proj Time', 'Official Time', 'Overall',
       'Gender', 'Division'],
      dtype='object')

In [8]:
runner_2016_table.columns

Index(['Bib', 'Name', 'Age', 'M/F', 'City', 'State', 'Country', 'Citizen',
       'Unnamed: 8', '5K', '10K', '15K', '20K', 'Half', '25K', '30K', '35K',
       '40K', 'Pace', 'Proj Time', 'Official Time', 'Overall', 'Gender',
       'Division'],
      dtype='object')

In [9]:
runner_2017_table.columns

Index(['Unnamed: 0', 'Bib', 'Name', 'Age', 'M/F', 'City', 'State', 'Country',
       'Citizen', 'Unnamed: 9', '5K', '10K', '15K', '20K', 'Half', '25K',
       '30K', '35K', '40K', 'Pace', 'Proj Time', 'Official Time', 'Overall',
       'Gender', 'Division'],
      dtype='object')

In [10]:
runner_2015_table.head()

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1
1,1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2
2,2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3
3,3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4
4,4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5

In [18]:
runner_2015_table = runner_2015_table[['Bib', 'Name', 'Age', 'M/F', 'City', 'State', 'Country',
       'Citizen', '5K', '10K', '15K', '20K', 'Half', '25K',
       '30K', '35K', '40K', 'Pace', 'Proj Time', 'Official Time', 'Overall',
       'Gender', 'Division']]
runner_2015_table.head()

,Bib,Name,Age,M/F,City,State,Country,Citizen,5K,10K,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,0:14:43,0:29:43,...,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1
1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,0:14:43,0:29:43,...,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2
2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,0:14:43,0:29:43,...,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3
3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,0:14:43,0:29:44,...,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4
4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,0:14:43,0:29:44,...,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5

In [19]:
runner_2017_table = runner_2015_table[['Bib', 'Name', 'Age', 'M/F', 'City', 'State', 'Country',
       'Citizen', '5K', '10K', '15K', '20K', 'Half', '25K',
       '30K', '35K', '40K', 'Pace', 'Proj Time', 'Official Time', 'Overall',
       'Gender', 'Division']]
runner_2017_table.head()

,Bib,Name,Age,M/F,City,State,Country,Citizen,5K,10K,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,0:14:43,0:29:43,...,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1
1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,0:14:43,0:29:43,...,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2
2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,0:14:43,0:29:43,...,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3
3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,0:14:43,0:29:44,...,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4
4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,0:14:43,0:29:44,...,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5

In [17]:
runner_2016_table.head()

,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 8,5K,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,5,"Hayle, Lemi Berhanu",21,M,Addis Ababa,NaN,ETH,NaN,NaN,0:15:47,...,1:19:15,1:34:17,1:50:24,2:05:59,0:05:04,2:12:45,2:12:45,1,1,1
1,1,"Desisa, Lelisa",26,M,Ambo,NaN,ETH,NaN,NaN,0:15:47,...,1:19:15,1:34:17,1:50:24,2:05:59,0:05:06,2:13:32,2:13:32,2,2,2
2,6,"Tsegay, Yemane Adhane",31,M,Addis Ababa,NaN,ETH,NaN,NaN,0:15:46,...,1:19:15,1:34:45,1:50:48,2:06:47,0:05:07,2:14:02,2:14:02,3,3,3
3,11,"Korir, Wesley",33,M,Kitale,NaN,KEN,NaN,NaN,0:15:46,...,1:19:16,1:34:45,1:50:48,2:06:47,0:05:07,2:14:05,2:14:05,4,4,4
4,14,"Lonyangata, Paul",23,M,Eldoret,NaN,KEN,NaN,NaN,0:15:46,...,1:19:18,1:34:46,1:51:30,2:08:11,0:05:11,2:15:45,2:15:45,5,5,5

In [26]:
final_df = pd.concat([runner_2015_table, runner_2016_table, runner_2017_table], axis=1, join='inner').sort_index()

In [28]:
final_df

,Bib,Name,Age,M/F,City,State,Country,Citizen,5K,10K,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,0:14:43,0:29:43,...,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1
1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,0:14:43,0:29:43,...,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2
2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,0:14:43,0:29:43,...,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3
3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,0:14:43,0:29:44,...,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4
4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,0:14:43,0:29:44,...,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5
5,9,"Chepkwony, Frankline",30,M,Koibatek,NaN,KEN,NaN,0:14:44,0:29:45,...,1:16:07,1:32:00,1:47:59,2:03:18,0:05:00,-,2:10:52,6,6,6
6,14,"Ritzenhein, Dathan",32,M,Rockford,MI,USA,NaN,0:14:45,0:29:45,...,1:16:05,1:31:59,1:48:06,2:04:05,0:05:01,-,2:11:20,7,7,7
7,1,"Keflezighi, Meb",39,M,San Diego,CA,USA,NaN,0:14:44,0:29:44,...,1:16:07,1:31:59,1:47:59,2:04:58,0:05:04,-,2:12:42,8,8,8
8,5,"Tola, Tadese",27,M,Addis Ababa,NaN,ETH,NaN,0:14:43,0:29:43,...,1:16:07,1:32:00,1:48:00,2:04:39,0:05:06,-,2:13:35,9,9,9
9,16,"Shafar, Vitaliy",33,M,Lutsk,NaN,UKR,NaN,0:15:14,0:30:34,...,1:17:18,1:33:11,1:49:43,2:06:16,0:05:07,-,2:13:52,10,10,10
10,22,"Tegenkamp, Matt",33,M,Portland,OR,USA,NaN,0:14:46,0:29:50,...,1:17:08,1:33:12,1:49:52,2:06:55,0:05:07,-,2:13:52,11,11,11
11,19,"Eggleston, Jeffrey",30,M,Boulder,CO,USA,NaN,0:15:14,0:30:34,...,1:17:19,1:33:30,1:50:12,2:06:47,0:05:08,-,2:14:17,12,12,12
12,15,"April, Lusapho",32,M,Uitenhage,NaN,RSA,NaN,0:14:44,0:29:44,...,1:16:07,1:32:00,1:48:07,2:06:50,0:05:13,-,2:16:25,13,13,13
13,20,"Arciniaga, Nicholas",31,M,Flagstaff,AZ,USA,NaN,0:14:44,0:29:44,...,1:17:50,1:35:43,1:53:33,2:10:40,0:05:16,-,2:18:02,14,14,14
14,76,"Goffi, Danilo",42,M,Parabiago - Milan,NaN,ITA,NaN,0:15:53,0:32:17,...,1:21:17,1:38:02,1:54:55,2:11:25,0:05:18,-,2:18:44,15,15,1
15,28,"Canaday, Sage",29,M,Boulder,CO,USA,NaN,0:16:08,0:32:19,...,1:21:18,1:38:01,1:54:54,2:11:37,0:05:19,-,2:19:12,16,16,15
16,54,"Zyryanov, Sergey",30,M,Moscow,NaN,RUS,NaN,0:15:53,0:32:17,...,1:21:17,1:38:02,1:54:57,2:11:37,0:05:19,-,2:19:17,17,17,16
17,29,"Chavez, Chris",28,M,Burlingame,CA,USA,NaN,0:15:57,0:32:21,...,1:21:50,1:38:46,1:56:05,2:12:58,0:05:21,-,2:20:04,18,18,17
18,27,"Macpherson, Scott",28,M,Columbia,MO,USA,NaN,0:16:08,0:32:17,...,1:20:55,1:37:41,1:54:45,2:12:23,0:05:22,-,2:20:25,19,19,18
19,33,"Zablocki, Christopher",26,M,Essex,CT,USA,NaN,0:16:08,0:32:20,...,1:21:50,1:38:40,1:55:47,2:13:07,0:05:22,-,2:20:35,20,20,19
20,26,"Hasegawa, Kiyokatsu",32,M,Tokyo,NaN,JPN,NaN,0:14:46,0:29:51,...,1:18:05,1:35:34,1:54:00,2:12:27,0:05:22,-,2:20:42,21,21,20
21,32,"Zywicki, Benjamin P.",26,M,Louisville,CO,USA,NaN,0:16:08,0:32:21,...,1:21:50,1:38:46,1:56:05,2:13:25,0:05:24,-,2:21:10,22,22,21
22,41,"Viau-Dupuis, Philippe",32,M,Montreal,QC,CAN,NaN,0:16:08,0:32:22,...,1:21:51,1:38:46,1:56:05,2:13:25,0:05:24,-,2:21:16,23,23,22
23,35,"Sanca, Ruben",28,M,Lowell,MA,USA,CPV,0:16:08,0:32:22,...,1:21:50,1:38:45,1:56:04,2:13:36,0:05:25,-,2:21:58,24,24,23
24,21,"Cabada, Fernando",32,M,Fresno,CA,USA,NaN,0:15:29,0:31:05,...,1:20:21,1:37:34,1:54:54,2:13:11,0:05:26,-,2:22:05,25,25,24
25,24,"Richards, Malcolm J.",32,M,San Francisco,CA,USA,NaN,0:15:52,0:31:54,...,1:20:55,1:37:41,1:54:56,2:14:03,0:05:27,-,2:22:30,26,26,25
26,53,"Atkins, Cole",29,M,Blowing Rock,NC,USA,NaN,0:16:07,0:32:21,...,1:21:43,1:38:46,1:56:38,2:15:03,0:05:29,-,2:23:21,27,27,26
27,78,"Mercier, Christian",40,M,Quebec,QC,CAN,NaN,0:16:08,0:32:23,...,1:24:22,1:42:01,1:59:56,2:17:08,0:05:31,-,2:24:37,28,28,2
28,106,"Glaz, Daniel",32,M,Chicago,IL,USA,NaN,0:16:52,0:33:35,...,1:24:58,1:42:19,1:59:50,2:17:03,0:05:32,-,2:24:44,29,29,27
29,83,"Boudalia, Said Sr.",46,M,Vas(belluno),NaN,ITA,NaN,0:15:58,0:32:20,...,1:23:36,1:41:36,1:59:54,2:17:02,0:05:32,-,2:24:49,30,30,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26568,26586,"Gates, Kate L.",56,F,San Jose,CA,USA,NaN,0:37:44,1:17:13,...,3:26:10,4:13:34,5:00:42,5:48:00,0:14:02,-,6:07:50,26569,12006,607
26569,25685,"Webber, Courtney A.",38,F,North Grafton,MA,USA,NaN,0:35:48,1:11:52,...,3:25:35,4:11:41,5:01:05,5:48:45,0:14:02,-,6:07:50,26570,12007,6002
26570,25531,"Buciak, Mark J.",54,M,Chicago,IL,USA,NaN,0:40:43,1:23:04,...,3:36:26,4:22:04,5:07:52,5:51:50,0:14:02,-,6:07:53,26571,14564,2054
26571,27609,"Lounsbury, Peter A.",48,M,Franklin,MA,USA,NaN,0:32:42,1:05:36,...,3:14:20,4:04:11,4:53:33,5:46:32,0:14:03,-,6:07:56,26572,14565,2483
26572,29406,"Dzerkacz, Charlotte",30,F,Maynard,MA,USA,NaN,0:36:20,1:12:16,...,3:23:03,4:10:10,4:59:04,5:48:10,0:14:03,-,6:08:02,26573,12008,6003
26573,10618,"Ebina, Hiroshi",55,M,Tokyo,NaN,JPN,NaN,0:29:18,1:02:07,...,3:03:55,3:58:56,4:55:05,5:45:20,0:14:03,-,6:08:05,26574,14566,1496
26574,25648,"Lehew, Bob",72,M,San Antonio,TX,USA,NaN,0:35:10,1:10:09,...,3:11:59,3:56:48,4:51:13,5:46:48,0:14:05,-,6:09:05,26575,14567,122
26575,23465,"Lemaire, Mike J.",60,M,Woodland,CA,USA,NaN,0:29:52,1:02:55,...,3:23:06,4:11:04,5:01:02,5:49:15,0:14:07,-,6:10:07,26576,14568,894
26576,21357,"Dull, Thomas C",63,M,Los Angeles,CA,USA,NaN,0:32:05,1:06:29,...,3:21:55,4:13:49,5:03:06,5:52:42,0:14:12,-,6:12:00,26577,14569,895
26577,17936,"Manwaring, Lindy G",40,F,Gilbert,AZ,USA,NaN,0:44:29,1:27:47,...,3:33:28,4:19:05,5:07:28,5:53:23,0:14:12,-,6:12:11,26578,12009,1983
26578,21042,"Corcoran, Heather L",45,F,Saint Charles,IL,USA,NaN,0:25:09,0:49:38,...,2:22:13,3:03:23,-,5:54:25,0:14:13,-,6:12:28,26579,12010,1831
26579,12397,"Simmons, William C.",27,M,Cambridge,MA,USA,NaN,0:27:46,0:58:39,...,3:04:22,3:52:28,4:51:29,5:50:59,0:14:15,-,6:13:24,26580,14570,4962
26580,27655,"Compagnone, Georgeann",66,F,Milford,MA,USA,NaN,0:33:14,1:09:06,...,3:25:55,4:13:47,5:03:13,5:52:10,0:14:17,-,6:14:20,26581,12011,90
26581,21035,"Wingo, Tracy A.",40,F,Phoenix,AZ,USA,NaN,0:28:55,1:00:14,...,3:18:28,4:09:08,5:01:45,5:53:02,0:14:24,-,6:17:23,26582,12012,1984
26582,23327,"Cason, William T",60,M,Chesapeake,VA,USA,NaN,0:29:40,0:57:31,...,3:11:35,4:02:08,5:01:39,6:00:54,0:14:40,-,6:24:30,26583,14571,896
26583,8178,"Jeon, Soojin",35,F,Ulsan,NaN,KOR,NaN,0:33:33,1:07:30,...,3:21:25,4:14:18,5:08:25,6:02:28,0:14:45,-,6:26:29,26584,12013,6004
26584,217,"Park, Hyoseok",39,M,Ansan-Si,NaN,KOR,NaN,0:33:33,1:07:31,...,3:21:25,4:14:18,5:08:25,6:02:28,0:14:45,-,6:26:29,26585,14572,4963
26585,22240,"Gonzalez-Rosales, Francisco",60,M,Lucas,TX,USA,NaN,0:45:14,1:27:31,...,3:38:40,4:26:30,5:14:04,6:05:48,0:14:53,-,6:29:53,26586,14573,897
26586,6769,"Alkhub, Mohammed",56,M,"Redfern, Nsw",NaN,AUS,NaN,0:29:38,0:59:52,...,2:51:29,3:56:38,5:02:49,6:07:36,0:15:09,-,6:37:04,26587,14574,1497
26587,25560,"Young, John D.",49,M,Salem,MA,USA,NaN,0:39:11,1:21:33,...,3:48:37,4:40:33,5:30:51,6:18:53,0:15:16,-,6:39:52,26588,14575,2484
26588,25645,"Luckett, Kelly M.",47,F,Savannah,GA,USA,NaN,0:43:22,1:27:40,...,3:49:07,4:41:53,5:34:15,6:23:00,0:15:20,-,6:42:01,26589,12014,1832
26589,25655,"Rigsby, Scott",46,M,Atlanta,GA,USA,NaN,0:39:26,1:17:55,...,3:28:57,4:31:04,5:26:10,6:22:43,0:15:26,-,6:44:28,26590,14576,2485
26590,25647,"Loflin, Lindsay S.",71,M,Greensboro,NC,USA,NaN,0:41:32,1:24:31,...,3:44:29,4:39:38,5:34:43,6:32:06,0:15:54,-,6:56:47,26591,14577,123
26591,25481,"Gomez, Raymond",57,M,Arlington Heights,IL,USA,NaN,0:39:52,1:23:34,...,3:44:46,4:38:41,5:33:09,6:33:45,0:15:57,-,6:57:50,26592,14578,1498
26592,25650,"King, Cedric",37,M,Bethesda,MD,USA,NaN,0:37:58,1:22:18,...,3:56:09,4:52:52,5:48:49,6:40:30,0:16:03,-,7:00:30,26593,14579,4964
26593,25656,"Prescott, Francine J.",64,F,Boynton Beach,FL,USA,NaN,0:50:15,1:43:31,...,4:25:53,5:19:44,6:17:19,7:13:34,0:17:31,-,7:38:56,26594,12015,269
26594,31359,"Emerson, Annette C.",61,F,Old Town,ME,USA,NaN,0:48:36,1:39:39,...,4:32:44,5:31:58,6:28:56,7:26:19,0:17:59,-,7:51:30,26595,12016,270
26595,25559,"Cerveny, Nona",66,F,Scottsdale,AZ,USA,NaN,0:53:03,1:47:16,...,4:33:51,5:38:56,6:38:51,7:36:18,0:18:18,-,7:59:33,26596,12017,91
26596,29396,"Buccilli, Alfred P.",53,M,Lynnfield,MA,USA,NaN,0:49:04,1:40:12,...,4:29:20,5:31:11,6:33:35,7:35:38,0:18:20,-,8:00:37,26597,14580,2055
26597,25651,"Reilly, William",62,M,Kew Garden,NY,USA,NaN,0:40:14,1:28:18,...,4:36:06,5:43:44,6:51:31,7:41:28,0:18:33,-,8:06:01,26598,14581,898

In [29]:
final_df.to_csv("Year_Combined.csv")